<%- include ('partials/header.ejs') %>
<%- include ('partials/navbarEvento.ejs') %>

<body>
  <div class="container">
    <h2>Detalhes do Evento</h2>
    <p>Nome: <%= event.name %> </p>
    <p>Local: <%= event.local %> </p>
    <p>Data: <%= event.date %> </p>
    <p>Horário: <%= event.time %> </p>
  </div>

  <div class="container">
    <form name="formConvidado" method="POST" action="/salvarConvidado" onsubmit="validate(event, this)">
      <label for="name">Nome:</label>
      <input type="text" name="name" id="name">
      <label for="rg">RG:</label>
      <input type="text" name="rg" id="rg">
      <input type="hidden" name="id" value="<%= event.id %> ">
      <button type="submit">Adicionar</button>
    </form>
  </div>

  <div class="container">
    <table class="table">
      <tr>
        <thead>
          <th>Nome do convidado</th>
          <th>Documento (RG)</th>
          <th>Ações</th>
        </thead>
      </tr>
      <tbody>
        <% guest.forEach(guest => { %>
        <tr>
          <form method="POST" action="/deletarConvidado" onsubmit="confirmEvent(event, this)">
          <td><p><%= guest.name %></p></td>
          <input type="hidden" name="idConvidado" value="<%= guest.id %>">
          <input type="hidden" name="idEvent" value="<%= event.id %> ">
          <td><p><%= guest.rg %></p></td>
          <td><button class="btn btn-danger">Deletar</button></td>
          </form>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>

<%- include ('partials/footer.ejs') %>

<script>
  // Verifica campos
  function validate(event, form) {
    event.preventDefault();
    let name = formConvidado.name.value;
    let rg = formConvidado.rg.value;

    if (name == "") {
      alert('Insira o nome do convidado.');
      formEvento.name.focus();
      return false;
    } else if (rg == "") {
      alert('Insira o documento RG do convidado.');
      formEvento.rg.focus;
      return false;
    } else {
      form.submit();
    }
  }
  
  // Confirma deleção de evento
  function confirmEvent(event, form) {
    event.preventDefault();
    let decision = confirm('Deseja realmente deletar o evento?');
    if (decision) {
      form.submit();
    }
  }
</script>