<%- include ('partials/header.ejs') %> 
<%- include ('partials/navbarEvento.ejs') %> 

<body>
  <div class="container">
    <h2>Detalhes do Evento</h2>
      <p>Nome: <%= event.name %> </p>
      <p>Local: <%= event.local %>  </p>
      <p>Data: <%= event.date %>  </p>
      <p>Horário: <%= event.time %>  </p>  
  </div>

  <div class="container">
    <form name="formConvidado" method="POST" action="/salvarConvidado" onsubmit="validate(event, this)">
      <label for="name">Nome:</label>
      <input type="text" name="name" id="name">
      <label for="rg">RG:</label>
      <input type="text" name="rg" id="rg">
      <button type="submit">Adicionar</button>
    </form>
  </div>

  <div class="container">
    <table class="table">
      <tr>
        <thead>
        <th>Nome Convidado</th>
        <th>RG</th>
        <th>Ações</th>
      </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>
  </div>
</body>

<%- include ('partials/footer.ejs') %> 

<!-- Verifica campos -->
<script>
  function validate(event, form) {
    event.preventDefault();
    let name = formConvidado.name.value;
    let rg = formConvidado.rg.value;

    if(name == "") {
      alert('Insira o nome do convidado.');
      formEvento.name.focus();
      return false;
    } else if(rg == "") {
      alert('Insira o documento RG do convidado.');
      formEvento.rg.focus;
      return false;
    } else {
      form.submit();
    }
  }
</script>
