<%- include ('partials/header.ejs') %> 
<%- include ('partials/navbar.ejs') %>

<body>
  <div class="container">
    <table class="table table-dark table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Local</th>
          <th>Data</th>
          <th>Horário</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
          <% eventos.forEach(evento => { %>
            <tr>
              <td><%= evento.id %> </td>
              <td><a href="evento/<%= evento.id %>"><%= evento.name %> </a></td>
              <td><%= evento.local %> </td>
              <td><%= moment(evento.date).format('DD/MM/YYYY') %> </td>
              <td><%= evento.time %> </td>
              <td>
                <form method="POST" action="/deletar" onsubmit="confirmEvent(event, this)">
                  <input type="hidden" name="id" value="<%= evento.id %>">
                  <button class="btn btn-danger">Deletar</button>
                </form>
              </td>
            </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
</body>

<!-- Confirma deleção de evento -->
<script>
  function confirmEvent(event, form) {
    event.preventDefault();
    let decision = confirm('Deseja realmente deletar o evento?');
    if (decision) {
      form.submit();
    }
  }
</script>

<%- include ('partials/footer.ejs') %>